<?php

namespace HeliosHpp\Tests;

class HeliosHppTestCredentials {

  /**
   * These must be filled out with valid Helios Hpp app details for the tests to run.
   */
  public static $accountId = '';
  public static $url = '';
}
