<?php

namespace HeliosApi\Tests;

class HeliosApiTestCredentials
{
    /**
     * These must be filled out with valid Helios Api app details for the tests to run.
     */
    public static $accountId = '';
    public static $url = '';
    public static $baseUrl = '';
    public static $apiVersion = '';
}

